In [10]:
## import required libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
import pickle

In [11]:
## Read the csv file
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [12]:
## Preprocess the data
## Drop the columns which are not required
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [13]:
## Encode  the categorical columns
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [14]:
# Onehot encode the Geography column
onehot_encoder_geo =OneHotEncoder(handle_unknown='ignore')
geo_encoded=onehot_encoder_geo.fit_transform(data['Geography'].values.reshape(-1,1)).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [15]:
## Combine the geo_encoded_df with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [18]:
## split the data into independent and dependent variables
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [19]:
## Split the data into training and testing data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Standardize the data
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [20]:
## Saving all the pickle files
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

### ANN Regression Implementation

In [22]:
## import Tensorflow libraries
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [27]:
## Build Regression ANN model
model=Sequential([
    Dense(units=64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1
    Dense(units=32,activation='relu'), ## HL2
    Dense(units=1)]) ## Output layer with 1 neuron with activation function as default is linear activation function for regression which means whatever output I am getting , I am using the same

In [30]:
## compile the model for forward and backward propagation to update the weights
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mean_absolute_error'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [32]:
## Setting up the early stopping and the tensorboard callback for exit the training when the model is not learning and visualisation of logs data

from tensorflow.keras.callbacks import TensorBoard,EarlyStopping
import datetime

log_dir='regressionlog/fit/'+datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
TensorBoard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [33]:
## Train the ANN Regression model
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[TensorBoard_callback,early_stopping_callback])

Epoch 1/100
WARNING:tensorflow:From c:\Users\Ankit Ghai\Documents\PycharmProjects\pythonProject\ANNClassification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Ankit Ghai\Documents\PycharmProjects\pythonProject\ANNClassification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 3ms/step - loss: 100372.4766 - mean_absolute_error: 100372.4766 - val_loss: 98489.6406 - val_mean_absolute_error: 98489.6406
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99468.4688 - mean_absolute_error: 99468.4688 - val_loss: 96628.0312 - val_mean_absolute_error: 96628.0312
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 96219.5547 - mean_absolute_error: 96219.5547 - val_loss: 91873.2500 - val_mean_absolute_error: 91873.2500
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 89879.1016 - mean_absolute_error: 89879.1016 - val_loss: 84106.2188 - val_mean_absolute_error: 84106.2188
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 80904.5078 - mean_absolute_error: 80904.5078 - val_loss: 74566.0156 - val_mean_absolute_error: 74566.0156
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 70928.4375 - mean_absolute_error: 70928.4375 - val_loss: 65219.1367 - val_mean_absolute_error: 65219.1367
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 62075.1094 - mean_absolute_error: 62075.1094 - val_loss: 57992.2656 - val_mean_absolute_error: 57992.2656
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 55941.2812 - mean_absolute_error: 55941.2812 - val_loss: 53651.6953 - val_mean_absolute_error: 53651.6953
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 52547.2734 - mean_absolute_error: 52547.2734 - val_loss: 51599.9570 - val_mean_absolute_error: 51599.9570
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 51077.5625 - mean_absolute_error: 51077.5625 - val_loss: 50972.2656 - val_mean_absolute_error: 50972.2656
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 50562.1953 - mean_absolute_error: 50562.1953 - val_loss: 50777.2266 - val_mean_absolute_error: 50777.2266
Epoch 12/100
250/250 [==============================] - 2s 7ms/step - loss: 50373.1211 - mean_absolute_error: 50373.1211 - val_loss: 50678.8164 - val_mean_absolute_error: 50678.8164
Epoch 13/100
250/250 [==============================] - 2s 7ms/step - loss: 50275.5469 - mean_absolute_error: 50275.5469 - val_loss: 50608.8789 - val_mean_absolute_error: 50608.8789
Epoch 14/100
250/250 [==============================] - 2s 7ms/step - loss: 50202.0273 - mean_absolute_error: 50202.0273 - val_loss: 50555.5742 - val_mean_absolute_error: 50555.5742
Epoch 15/100
250/250 [==============================] - 2s 6ms/step - loss: 50142.8672 - mean_absolute_error: 50142.8672 - val_loss: 50500.3320 - val_mean_absolute_error: 50500.3320
Epoch 16/100
250/250 [==============================] - 2s 7ms/step - loss: 50093.4141 - mean_absolute_error: 50093.4141 - val_loss: 50466.9258 - val_mean_absolute_error: 50466.9258
Epoch 17/100
250/250 [==============================] - 2s 7ms/step - loss: 50046.6172 - mean_absolute_error: 50046.6172 - val_loss: 50425.7539 - val_mean_absolute_error: 50425.7539
Epoch 18/100
250/250 [==============================] - 2s 6ms/step - loss: 50002.6289 - mean_absolute_error: 50002.6289 - val_loss: 50385.5664 - val_mean_absolute_error: 50385.5664
Epoch 19/100
250/250 [==============================] - 2s 7ms/step - loss: 49964.8164 - mean_absolute_error: 49964.8164 - val_loss: 50369.8438 - val_mean_absolute_error: 50369.8438
Epoch 20/100
250/250 [==============================] - 2s 7ms/step - loss: 49931.9727 - mean_absolute_error: 49931.9727 - val_loss: 50347.6016 - val_mean_absolute_error: 50347.6016
Epoch 21/100
250/250 [==============================] - 2s 7ms/step - loss: 49901.0977 - mean_absolute_error: 49901.0977 - val_loss: 50329.7695 - val_mean_absolute_error: 50329.7695
Epoch 22/100
250/250 [==============================] - 2s 6ms/step - loss: 49865.2383 - mean_absolute_error: 49865.2383 - val_loss: 50306.0547 - val_mean_absolute_error: 50306.0547
Epoch 23/100
250/250 [==============================] - 2s 7ms/step - loss: 49839.3320 - mean_absolute_error: 49839.3320 - val_loss: 50284.7891 - val_mean_absolute_error: 50284.7891
Epoch 24/100
250/250 [==============================] - 2s 7ms/step - loss: 49809.9297 - mean_absolute_error: 49809.9297 - val_loss: 50272.6836 - val_mean_absolute_error: 50272.6836
Epoch 25/100
250/250 [==============================] - 2s 7ms/step - loss: 49785.5781 - mean_absolute_error: 49785.5781 - val_loss: 50270.5625 - val_mean_absolute_error: 50270.5625
Epoch 26/100
250/250 [==============================] - 2s 7ms/step - loss: 49760.5547 - mean_absolute_error: 49760.5547 - val_loss: 50270.6992 - val_mean_absolute_error: 50270.6992
Epoch 27/100
250/250 [==============================] - 2s 7ms/step - loss: 49744.9805 - mean_absolute_error: 49744.9805 - val_loss: 50249.0586 - val_mean_absolute_error: 50249.0586
Epoch 28/100
250/250 [==============================] - 2s 7ms/step - loss: 49724.9766 - mean_absolute_error: 49724.9766 - val_loss: 50243.8125 - val_mean_absolute_error: 50243.8125
Epoch 29/100
250/250 [==============================] - 2s 7ms/step - loss: 49699.5352 - mean_absolute_error: 49699.5352 - val_loss: 50231.2852 - val_mean_absolute_error: 50231.2852
Epoch 30/100
250/250 [==============================] - 2s 7ms/step - loss: 49683.9531 - mean_absolute_error: 49683.9531 - val_loss: 50227.3477 - val_mean_absolute_error: 50227.3477
Epoch 31/100
250/250 [==============================] - 2s 7ms/step - loss: 49668.8242 - mean_absolute_error: 49668.8242 - val_loss: 50232.2305 - val_mean_absolute_error: 50232.2305
Epoch 32/100
250/250 [==============================] - 2s 7ms/step - loss: 49652.4102 - mean_absolute_error: 49652.4102 - val_loss: 50223.5547 - val_mean_absolute_error: 50223.5547
Epoch 33/100
250/250 [==============================] - 2s 7ms/step - loss: 49637.2578 - mean_absolute_error: 49637.2578 - val_loss: 50219.9453 - val_mean_absolute_error: 50219.9453
Epoch 34/100
250/250 [==============================] - 2s 7ms/step - loss: 49626.6758 - mean_absolute_error: 49626.6758 - val_loss: 50214.5234 - val_mean_absolute_error: 50214.5234
Epoch 35/100
250/250 [==============================] - 2s 7ms/step - loss: 49613.8945 - mean_absolute_error: 49613.8945 - val_loss: 50216.8008 - val_mean_absolute_error: 50216.8008
Epoch 36/100
250/250 [==============================] - 2s 7ms/step - loss: 49599.5859 - mean_absolute_error: 49599.5859 - val_loss: 50208.9453 - val_mean_absolute_error: 50208.9453
Epoch 37/100
250/250 [==============================] - 2s 7ms/step - loss: 49586.6875 - mean_absolute_error: 49586.6875 - val_loss: 50206.1836 - val_mean_absolute_error: 50206.1836
Epoch 38/100
250/250 [==============================] - 2s 7ms/step - loss: 49577.4688 - mean_absolute_error: 49577.4688 - val_loss: 50210.9414 - val_mean_absolute_error: 50210.9414
Epoch 39/100
250/250 [==============================] - 2s 7ms/step - loss: 49568.3438 - mean_absolute_error: 49568.3438 - val_loss: 50202.2383 - val_mean_absolute_error: 50202.2383
Epoch 40/100
250/250 [==============================] - 2s 6ms/step - loss: 49561.1523 - mean_absolute_error: 49561.1523 - val_loss: 50218.5586 - val_mean_absolute_error: 50218.5586
Epoch 41/100
250/250 [==============================] - 2s 7ms/step - loss: 49550.1875 - mean_absolute_error: 49550.1875 - val_loss: 50214.8281 - val_mean_absolute_error: 50214.8281
Epoch 42/100
250/250 [==============================] - 2s 7ms/step - loss: 49540.0469 - mean_absolute_error: 49540.0469 - val_loss: 50206.4805 - val_mean_absolute_error: 50206.4805
Epoch 43/100
250/250 [==============================] - 2s 8ms/step - loss: 49532.5312 - mean_absolute_error: 49532.5312 - val_loss: 50207.8477 - val_mean_absolute_error: 50207.8477
Epoch 44/100
250/250 [==============================] - 2s 7ms/step - loss: 49527.9844 - mean_absolute_error: 49527.9844 - val_loss: 50207.3281 - val_mean_absolute_error: 50207.3281
Epoch 45/100
250/250 [==============================] - 2s 7ms/step - loss: 49517.0000 - mean_absolute_error: 49517.0000 - val_loss: 50196.9805 - val_mean_absolute_error: 50196.9805
Epoch 46/100
250/250 [==============================] - 2s 7ms/step - loss: 49509.7383 - mean_absolute_error: 49509.7383 - val_loss: 50211.1680 - val_mean_absolute_error: 50211.1680
Epoch 47/100
250/250 [==============================] - 2s 7ms/step - loss: 49503.2852 - mean_absolute_error: 49503.2852 - val_loss: 50207.0156 - val_mean_absolute_error: 50207.0156
Epoch 48/100
250/250 [==============================] - 2s 7ms/step - loss: 49494.8633 - mean_absolute_error: 49494.8633 - val_loss: 50213.7578 - val_mean_absolute_error: 50213.7578
Epoch 49/100
250/250 [==============================] - 2s 8ms/step - loss: 49487.5547 - mean_absolute_error: 49487.5547 - val_loss: 50208.8008 - val_mean_absolute_error: 50208.8008
Epoch 50/100
250/250 [==============================] - 2s 7ms/step - loss: 49479.7070 - mean_absolute_error: 49479.7070 - val_loss: 50208.8906 - val_mean_absolute_error: 50208.8906
Epoch 51/100
250/250 [==============================] - 2s 7ms/step - loss: 49471.5039 - mean_absolute_error: 49471.5039 - val_loss: 50216.1758 - val_mean_absolute_error: 50216.1758
Epoch 52/100
250/250 [==============================] - 2s 7ms/step - loss: 49466.3477 - mean_absolute_error: 49466.3477 - val_loss: 50210.1406 - val_mean_absolute_error: 50210.1406
Epoch 53/100
250/250 [==============================] - 2s 7ms/step - loss: 49460.6484 - mean_absolute_error: 49460.6484 - val_loss: 50217.4375 - val_mean_absolute_error: 50217.4375
Epoch 54/100
250/250 [==============================] - 2s 7ms/step - loss: 49455.4805 - mean_absolute_error: 49455.4805 - val_loss: 50206.4570 - val_mean_absolute_error: 50206.4570
Epoch 55/100
250/250 [==============================] - 2s 7ms/step - loss: 49448.4414 - mean_absolute_error: 49448.4414 - val_loss: 50217.1797 - val_mean_absolute_error: 50217.1797

In [ ]:
## Load tensorboard ext
%load_ext tensorboard
%tensorboard --logdir regressionlog/fit

In [40]:
## Evaluate the model on test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test Loss: {test_loss} and Test MAE: {test_mae}')

63/63 [==============================] - 0s 1ms/step - loss: 50196.9805 - mean_absolute_error: 50196.9805
Test Loss: 50196.98046875 and Test MAE: 50196.98046875

In [41]:
## Save my regression model
model.save('regression_model.h5')

c:\Users\Ankit Ghai\Documents\PycharmProjects\pythonProject\ANNClassification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(